<article class="blog-article">
  <header>
    <h1>
      <%= article.title %>
      <small>
        <%= t '.by' %> <%= article.link_to_author %>,
        <%= article.published_date %>
      </small>
    </h1>
    <div class="blog-article-tags">
      <%= render partial: 'blog/tags/tags', locals: { tags: article.tags } %>
    </div>
  </header>

  <section class="blog-article-content">
    <%= article.render_content %>
  </section>
</article>
