<div class="blog-articles">
  <% articles.each do |article| %>
    <div class="blog-articles-item <%= 'unpublished' unless article.published? %>"
         data-content="<%= t '.unpublished' %>">
      <h2><%= link_to article.title, blog_article_path(article.id) %></h2>
      <div class="blog-articles-item-info">
        <div>
          <%= article.published_date %>
        </div>
        <div>
          <%= icon('far', 'comments', t('.comments', count: 15)) %>
        </div>
        <div>
          <%= render partial: 'blog/tags/tags',
                     locals: { tags: article.tags, allow_tab: false } %>
        </div>
      </div>
      <div class="blog-articles-item-actions">
        <%= article.edit_button %>
        <%= article.delete_button %>
        <%= article.publish_button %>
      </div>
    </div>
  <% end %>
</div>
