<%= form_with(model: article, local: true,
              html: { class: 'pure-form pure-form-stacked blog-article-form' }) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, rows: 5 %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.hidden_field :content %>
    <div id="tuiEditor"></div>
  </div>

  <div class="field">
    <%= form.label :tags_text %>
    <%= form.text_field :tags_text, id: 'blog_article_tags' %>
  </div>

  <div class="actions">
    <%= link_to icon('fas', 'chevron-left', t(:back)), back_path,
                class: 'pure-button button-secondary' %>
    <%= form.button icon('far', 'save', t('.save')),
                    class: 'pure-button button-primary' %>
  </div>
<% end %>
