<h1><%= t '.title' %></h1>

<%= link_to t('.new'), new_blog_article_path,
            class: 'pure-button pure-button-block button-primary' %>

<div class="blog-articles">
  <% @articles.each do |article| %>
    <div class="blog-articles-item <%= 'unpublished' unless article.published? %>"
         data-content="<%= t '.unpublished' %>">
      <h2><%= link_to article.title, blog_article_path(article.id) %></h2>
      <div class="blog-articles-item-info">
        <p>
          <%= link_to icon('far', 'user', article.author_name), user_path(article.author.id) %>
        </p>
        <p>
          <%= icon('far', 'comments', t('.comments', count: 15)) %>
        </p>
      </div>
      <div class="blog-articles-item-actions">
        <%= article.edit_button %>
        <%= article.delete_button %>
        <%= article.publish_button %>
      </div>
    </div>
  <% end %>
</div>
