<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover header-user-menu">
      <%= link_to '#', class: 'pure-menu-link', aria: { label: t('.aria_user') } do %>
        <%= icon('far', 'user') %>
        <span><%= current_user.first_name %></span>
      <% end %>
      <ul class="pure-menu-children">
        <li class="pure-menu-item">
          <%= link_to icon('fas', 'user', t(:show_account)),
                      user_path(current_user),
                      class: 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <%= link_to icon('fas', 'cog', t(:edit_account)),
                      edit_user_registration_path,
                      class: 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <%= link_to icon('fas', 'sign-out-alt', t(:sign_out)),
                      destroy_user_session_path,
                      method: :delete, class: 'pure-menu-link' %>
        </li>
      </ul>
    </li>
  </ul>
</div>
