<header class="header-dark">
  <div class="pure-g">
    <div class="pure-u-lg-1-24 pure-u-xl-1-12"></div>
    <div class="pure-u-1 pure-u-lg-11-12 pure-u-xl-5-6 header-content">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag 'blowing_stuff_logo.svg' %>
          <%= content_for?(:brand) ? content_for(:brand) : t(:title) %>
        <% end %>
      </h1>

      <%= render partial: 'layouts/horizontal_menu' %>

      <div class="header-user">
        <% if signed_in? %>
          <%= render partial: 'layouts/header_user_menu' %>
        <% else %>
          <%= render partial: 'layouts/header_guest_menu' %>
        <% end %>
      </div>
    </div>
    <div class="pure-u-lg-1-24 pure-u-xl-1-12"></div>
  </div>
</header>
