<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= [content_for(:title), t(:title)].compact.join(' - ') %></title>
  <meta name="description" content="<%= t(:description) %>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <%= render partial: 'layouts/favicon' %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
<div class="container">
  <%= yield %>
</div>
</body>
</html>
